*.svn
*.o
*.lo
*.obj
*.git
*.so
*.a
*.la
*.pdb
*.idb
*.lib

*~
build
release-build
Doxyfile
*.patch

# CMake
CMakeCache.txt
CMakeFiles
cmake_install.cmake
CMakeLists.txt.user
CMakeLists.txt.user.*
Debug

#QtCreator
qtcreator-build

